.page-number {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0;
  font-size: 12px;
  background-color: white;
}

.page-number.is-active {
  color: white;
  background-color: black;
  border: 1px solid black;
}

.page-number:not(:first-child) {
  margin-left: 5px;
}

.page-number:not(:last-child) {
  margin-right: 5px;
}
