.control {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.control.has-button-icon-right .button {
  padding: 0px;
  margin: 0px;
  border: none;
  position: absolute;
  right: 0px;
  background: none;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0px;
}

.input {
  height: 40px;
  border: 1px solid #808080;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
